{
  // "parser": "@typescript-eslint/parser",
  // "parserOptions": {
  //   "ecmaVersion": 2020
  // },
  "rules":{
    "no-unused-vars": "warn",
    "linebreak-style": 0
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}

